<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h3>About me</h3>
        <img src="/img/ashfaq.png" alt="Ashfaq picture">
        <p class="statement">I'm Ashfaq Ahmad Khan. Peshawar is my homeland. I love to Code and want to be a good programmer. I'm currently working on NodeJs technology. My current goal is be a Full-Stack developer and much more in the future. <br><br>
        Your feedback will be appreciated.<br> Email: ashfaqkhan244@gmail.com  </p>
    </div>
    <p class="credit">{{credit}}</p>
    {{>footer}}
    
</body>

</html>